.pad-left {
    margin-left: 10px;
}

.well div {
    color: #bbb;
}

.thumbnail {
    min-height: 230px;
}

.red{
    color: red !important;
}

.bold{
    font-weight: bold;
}

.green {
    color: green !important;
}